body {
    background-image: url("https://images.unsplash.com/photo-1622128969605-819cbd8cc23c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.book-item {
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    background-color: aliceblue;
}

form {
    background-color: aliceblue;
    padding: 10px;
}