body {
    background-image: url("../images/photo-1622128969605-819cbd8cc23c.jpg");
}

.book-item {
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    background-color: aliceblue;
}

form {
    background-color: aliceblue;
    padding: 10px;
}

.card {
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    font-weight: bold;
}